.movieCard{
    margin:5%;
    padding:2%;
    color:rgba(245, 245, 245, 0.829);
    }
    .movieCard:hover {
        box-shadow: 2px 2px 10px rgb(255, 255, 255), -2px -2px 10px rgb(255, 255, 255),
          2px 2px 10px rgb(255, 255, 255), -2px -2px 10px rgb(255, 255, 255);
          cursor: pointer;
      }
      .cardBtn{
          display: flex;
          justify-content: space-between;
      }